---
---
{% assign ref = reference | replace: "Kouwenhoven, T.", "<strong>Kouwenhoven, T.</strong>" %}
{% if entry.doi %}
  {% assign doi_url = "https://doi.org/" | append: entry.doi %}
  {% assign clean_ref = ref | remove: doi_url %}
  <a href="{{ doi_url }}" target="_blank" class="pub-card-link">{{ clean_ref }}</a>
{% elsif entry.url %}
  {% assign clean_ref = ref | remove: entry.url %}
  <a href="{{ entry.url }}" target="_blank" class="pub-card-link">{{ clean_ref }}</a>
{% else %}
  {{ ref }}
{% endif %}
